<div class="container">

    <mon-beau-titre text="Liste de courses">

    </mon-beau-titre>

    <button class="btn btn-success" (click)="createArticle($event)">Nouvel article</button>
    <button class="btn btn-primary" (click)="saveArticles($event)">Sauver</button>
    <form>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Article</th>
                <th>Prix</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
                @for (article of articles; track $index) {
                    <tr>
                        <td>
                            {{article.name}}

                            <!--<input [(ngModel)]="article.name"
                                   class="form-control">-->
                        </td>
                        <td>
                            {{article.price}}

                            <!--<input [(ngModel)]="article.price"
                                   type="number"
                                   class="form-control">-->
                        </td>
                        <td>
                            <button class="btn btn-sm btn-danger">Supprimer</button>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
            <tr>
                <th class="text-end">Total :</th>
                <th>?</th>
                <th></th>
            </tr>
            </tfoot>
        </table>
    </form>
</div>
